In [1]:
import yfinance as yf
import pandas as pd
import datetime

# Get tomorrow's date
tomorrow = datetime.date.today() + datetime.timedelta(days=1)
tomorrow_str = tomorrow.strftime('%Y-%m-%d')

# Download historical data for HDFC Bank as a pandas DataFrame
df_hdfc = yf.download('HDFCBANK.BO', start='2021-01-01', end=tomorrow_str)

# Print the first few rows of the DataFrame
# print(df_hdfc.head())

[*********************100%%**********************]  1 of 1 completed

In [4]:
# df_hdfc.to_excel('hdfc_bank_2021_today.xlsx')

In [3]:
df_hdfc

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-01,1438.000000,1443.150024,1420.599976,1424.849976,1408.699097,207953
2021-01-04,1437.349976,1438.949951,1399.000000,1416.150024,1400.097778,221349
2021-01-05,1416.150024,1430.000000,1408.750000,1426.199951,1410.033813,301154
2021-01-06,1448.800049,1448.800049,1413.550049,1420.099976,1404.002930,301131
2021-01-07,1429.000000,1432.000000,1413.000000,1416.400024,1400.344971,164225
...,...,...,...,...,...,...
2024-01-19,1514.000000,1514.000000,1469.000000,1470.699951,1470.699951,5827976
2024-01-23,1459.949951,1474.949951,1425.000000,1427.599976,1427.599976,1070004
2024-01-24,1393.650024,1458.500000,1382.400024,1455.849976,1455.849976,2733512
2024-01-25,1453.650024,1454.750000,1419.000000,1435.300049,1435.300049,1576010
2024-01-29,1453.949951,1462.849976,1442.300049,1455.650024,1455.650024,2407150