In [1]:
import yfinance as yf
import pandas as pd
import datetime

# Get tomorrow's date
tomorrow = datetime.date.today() + datetime.timedelta(days=1)
tomorrow_str = tomorrow.strftime('%Y-%m-%d')

# Download historical data for HDFC Bank as a pandas DataFrame
df_hdfc = yf.download('HDFCBANK.BO', start='2024-01-01', end=tomorrow_str)

# Print the first few rows of the DataFrame
# print(df_hdfc.head())

[*********************100%%**********************]  1 of 1 completed

In [4]:
# df_hdfc.to_excel('hdfc_bank_2024_today.xlsx')

In [7]:
df_hdfc.sort_values(by='Date',ascending=False).head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-03-22,1437.300049,1450.699951,1437.300049,1444.750000,1444.750000,495044
2024-03-21,1440.050049,1450.900024,1438.250000,1445.099976,1445.099976,727949
2024-03-20,1448.800049,1451.599976,1424.750000,1431.099976,1431.099976,211454
2024-03-19,1432.400024,1451.849976,1432.400024,1448.949951,1448.949951,478463
2024-03-18,1447.949951,1455.949951,1436.000000,1446.199951,1446.199951,339053