In [1]:
# Library for opening url and creating requests
import urllib.request
from pprint import pprint
from html_table_parser.parser import HTMLTableParser
import pandas as pd

In [2]:
# Opens a website and read its binary contents (HTTP Response Body)
def url_get_contents(url):

    # Opens a website and read its binary contents (HTTP Response Body)
    headers = {'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36'}
    #making request to the website
    req = urllib.request.Request(url=url,headers=headers)
    f = urllib.request.urlopen(req)

    #reading contents of the website
    return f.read()

In [3]:
# Converting Top 2 rows as header
def header_convert(df):
    # Combine the top 2 rows into a single header row
    new_header = df.iloc[0].fillna('')  
    df = df[1:]  # Exclude the first two rows

    # Assign the combined row as the new header
    df.columns = new_header

    # Reset the DataFrame index if needed
    df.reset_index(drop=True, inplace=True)
    
    return df

In [4]:
def generate_url(fund_name, start_date, end_date):
    # Replace spaces with %20 for URL encoding
    fund_name_encoded = fund_name.replace(" ", "%20")
    
    # Construct the URL
    base_url = "https://www.advisorkhoj.com/mutual-funds-research/historical-NAV/"
    url = f"{base_url}{fund_name_encoded}?start_date={start_date}&end_date={end_date}"
    
    return url

# Example usage
fund_name = "Axis BlueChip Dir Gr"
fund_name_1 = "Parag Parikh Arbitrage Fund Dir Gr"
start_date = "16-08-2023"
end_date = "16-09-2024"

Link = generate_url(fund_name, start_date, end_date)

In [5]:
# defining the html contents of a URL.
xhtml = url_get_contents(Link).decode('utf-8')

# Defining the HTMLTableParser object
p = HTMLTableParser()

# feeding the html contents in the HTMLTableParser object
p.feed(xhtml)

In [6]:
# Shots Summary
df = pd.DataFrame(p.tables[0])
df = header_convert(df)

In [7]:
# Convert 'NAV Date' column to datetime
df['NAV Date'] = pd.to_datetime(df['NAV Date'], format='%d-%m-%Y')

# Ensure 'NAV (Rs)' is numeric
df['NAV (Rs)'] = pd.to_numeric(df['NAV (Rs)'], errors='coerce')

# Extract month-year and day
df['month_year'] = df['NAV Date'].dt.strftime('%b-%y')  # Month-Year format
df['day'] = df['NAV Date'].dt.day

# Pivot table to get month_year as columns and days as rows
pivot_table = df.pivot(index='day', columns='month_year', values='NAV (Rs)')

# Create a sorted list of month-year columns
date_range = pd.date_range(start=df['NAV Date'].min(), end=df['NAV Date'].max(), freq='MS')
sorted_columns = [d.strftime('%b-%y') for d in date_range]

# Reindex columns to ensure correct order
pivot_table = pivot_table.reindex(columns=sorted_columns)
pivot_table = pivot_table.reset_index()
original_table = pivot_table.copy()

In [8]:
# Scenario 1
pivot_table['Average'] = pivot_table.drop(columns='day').mean(axis=1)
pivot_table.columns.name = None

max_average = pivot_table['Average'].max()
pivot_table['Average_pct_diff'] = (max_average - pivot_table['Average']) / max_average * 100

In [9]:
# Scenario 2
pivot_table2 = original_table.bfill()
pivot_table2['Average'] = pivot_table2.drop(columns='day').mean(axis=1)
pivot_table2.columns.name = None

max_average2 = pivot_table2['Average'].mean()
pivot_table2['Average_pct_diff'] = (max_average2 - pivot_table2['Average']) / max_average2 * 100

In [10]:
# Function to create color shading for positive values
def color_positive(val, min_val, max_val):
    if pd.isna(val):
        return ''
    
    # Normalize the value
    normalized = (val - min_val) / (max_val - min_val) if max_val != min_val else 0
    
    # Color shading for positive values
    red = 255 - int(normalized * 80)  # Light green: Red component decreases
    green = 255
    blue = 255 - int(normalized * 80)  # Light green: Blue component decreases
    return f'background-color: rgb({red}, {green}, {blue})'

# Function to create color shading for negative values
def color_negative(val, min_val, max_val):
    if pd.isna(val):
        return ''
    
    # Normalize the value
    normalized = (val - min_val) / (max_val - min_val) if max_val != min_val else 0
    
    # Color shading for negative values
    red = 255
    green = 255 - int(normalized * 80)  # Light red: Green component decreases
    blue = 255 - int(normalized * 80)  # Light red: Blue component decreases
    return f'background-color: rgb({red}, {green}, {blue})'

# Apply the style to the 'Average_pct_diff' column
def apply_color_map(df):
    min_val = df['Average_pct_diff'].min()
    max_val = df['Average_pct_diff'].max()
    
    # Apply color shading based on whether the value is positive or negative
    return df.style.applymap(lambda val: color_positive(val, min_val, max_val) if val >= 0 else color_negative(val, min_val, max_val), subset=['Average_pct_diff'])

# Get the styled DataFrame
styled_df = apply_color_map(pivot_table2)

# Display styled DataFrame (useful in Jupyter Notebook)
styled_df

C:\Users\Pranav Jaju\AppData\Local\Temp\ipykernel_27880\3378717283.py:35: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  return df.style.applymap(lambda val: color_positive(val, min_val, max_val) if val >= 0 else color_negative(val, min_val, max_val), subset=['Average_pct_diff'])